.portfolio {
  &__view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    max-width: 250px;
    padding: 0.25rem;
    flex-shrink: 0;

    @media (min-width: $bp-smartphone-landscape) {
      max-width: 100%;
      width: 50%;
    }

    @media (min-width: $bp-ipad-portrait) {
      max-width: 100%;
    }

    @media (min-width: $bp-ipad-landscape) {
      margin: 1rem 0;
    }

    @media (min-width: $bp-laptop) {
      width: 25%;
      margin: 2rem 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__fig {
    position: relative;

    display: block;
    margin: 0;
    padding: 0;

    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__footer {
    position: relative;

    display: block;
    margin-top: 1rem;

    border-top: 1px solid black;

    overflow: hidden;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
    min-height: 17px;
  }

  &__meta {
    font-size: 0.65rem;

    color: black;
  }

  &__fakescroll {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 10;

    width: calc(100% - 20px);
    height: calc(100vh - 121px);
    height: calc(#{$vh100} - 121px);

    overflow: auto;

    @media (min-width: $switch-breakpoint) {
      top: 86px;
      left: 87px;

      height: calc(100vh - 98px);
      height: calc(#{$vh100} - 98px);
      width: calc(100% - 99px);
    }

    &-area {
      height: 100%;
    }
  }  

  .second {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    transform: translateY(100%);
  }
}

// type device styles
body.desktop-device {
  .portfolio__fakescroll { z-index: -1; }
}