.startitle {
  position: relative;

  display: inline-block;
  padding: 0.75rem 2rem;

  text-align: center;
  
  border: 1px solid black;
  border-radius: 50%;

  > p { margin: 0; }

  > figure {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    width: 40px;

    transform: translateY(-14%);
  }
}