.about {
  font-family: BreveSansTitle;
  font-weight: 300;
  font-style: italic;
}

.view1 { 
  &__head { 
    display: flex;
    align-items: center;
    margin-bottom: calc(2rem - 9px);
    flex-direction: column;

    @media (min-width: $bp-laptop) {
      flex-direction: row;
      align-items: flex-end;
      padding-right: 5rem;
    }

    &-title {
      margin-bottom: 2rem;

      @media (min-width: $bp-laptop) {
        margin-right: 5rem;
      }

      > p {
        margin: 0;
        
        font-size: 1.5rem;
        line-height: 1.2;

        @media (min-width: $bp-ipad-portrait) {
          font-size: 2.25rem;
        }

        @media (min-width: $bp-laptop) {
          font-size: 3rem;
        }
      }
    }

    &-fig {
      margin: 0;
      width: 60px;

      @media (min-width: $bp-laptop) {
        width: auto;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;

    @media (min-width: $bp-ipad-portrait) {
      align-items: center;
    }

    @media (min-width: $bp-laptop) {
      flex-direction: row;
    }

    &-copy {
      margin-bottom: 2rem;

      @media (min-width: $bp-laptop) {
        margin-left: 2.55rem;
        margin-bottom: 0;
      }

      > p {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.2;
      }
    }
  }
}