.project {
  @media (min-width: $bp-wrapper-limit) {
    border-right: 1px solid black;
    border-left: 1px solid black;
  }

  &__hero {
    padding: 0.5rem;

    @media (min-width: $bp-ipad-portrait) {
      padding: 1rem;
    }

    > img { width: 100%; }
  }

  &__info {
    border-top: 1px solid black;

    &-block {
      flex-grow: 1;
      padding: 1rem 0.5rem;

      @media (min-width: $bp-ipad-portrait) {
        padding: 1rem;
      }

      border-bottom: 1px solid black;

      @media (min-width: $bp-laptop) {
        min-height: 145px;
      }

      p {
        margin: 0;

        font-size: 0.9rem;
      }

      a {
        color: currentColor;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;

    font-size: 1rem;
    font-weight: normal;
  }

  &__list {
    > li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__icons-grid {
    display: flex;
    justify-content: center;
    align-items: center;

    > figure {
      max-width: 57px;
      
      &:not(:first-child):not(:last-child) {
        margin: 0 2rem;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-ipad-portrait) {
      flex-direction: row;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-ipad-portrait) {
      width: 55%;

      border-right: 1px solid black;
    }

    &:last-child {
      border: none;
    }

    &:first-child {
      @media (min-width: $bp-ipad-portrait) {
        width: 20%;
      }
    }

    &:last-child {
      @media (min-width: $bp-ipad-portrait) {
        width: 25%;
      }
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;

    &.even {
      .project__gallery-item {
        &:nth-last-child(-n+2) {
          @media (min-width: $bp-ipad-portrait) {
            border-bottom: none;
          }
        }
      }
    }

    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }

      @media (max-width: $bp-ipad-portrait - 1px) {
        width: 100% !important;
      }

      &.type_2 {
        width: calc(100% / 3 * 2);
      }
      &.type_3 {
        width: calc(100% / 3);
      }
      &.type_4 {
        width: 50%;
      }

      &:not(:nth-child(even)) {
        @media (min-width: $bp-ipad-portrait) {
          border-right: 1px solid black;
        }
      }

      figure, img { width: 100%; }
    }
  }
}