.body {
  padding: 0.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    border: 2px solid black;
    border-radius: 14px;

    @media (min-width: $bp-laptop) {
      border-width: 4px;
    }
  }
}