.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1103px;
  margin: auto;
  min-height: 100%;

  @media (min-width: $bp-hd-monitor) {
    max-width: $wrapper-limit;
  }

  &.full {
    max-width: $wrapper-limit;
  }

  &__inner {
    padding: 1rem;
    width: 100%;

    &.no-padding {
      padding: 0;
    }
  }
}