header.header
  div.header__section.star
    img(src="images/star.svg", alt="SIDERAL STUDIO")
  div.header__section.logo
    a(href="#")
      img(src="images/logo.svg", alt="SIDERAL STUDIO")
  div.header__section.eye
    img(src="images/eye.svg", alt="SIDERAL STUDIO")
  div.header__section.contact
    div.header__section-inner
      div.header__address
        a(href="https://www.google.com.mx/maps/place/Aguascalientes+189,+Hip%C3%B3dromo,+Cuauht%C3%A9moc,+06100+Ciudad+de+M%C3%A9xico,+CDMX/@19.4078402,-99.1729087,17z/data=!3m1!4b1!4m5!3m4!1s0x85d1ff6a7f0ddca5:0x3c3df5cb79a27c5b!8m2!3d19.4078402!4d-99.17072", target="_blank", rel="noopener") 
          | AGUAS CALIENTES - 189
          br
          | COL. HIPODROMO CONDESA
          br
          | CDMX C.P. 06100
      ul.header__social.social.u-list-nostyle
        li.social__item
          a(href="#", rel="noopener") FB
        li.social__item
          a(href="#", rel="noopener") IG
        li.social__item
          a(href="#", rel="noopener") YT

