header.header
  div.header__section.star
    img(src="images/star.svg", alt="SIDERAL STUDIO")
  div.header__section.logo
    img(src="images/logo.svg", alt="SIDERAL STUDIO")
  div.header__section.eye
    img(src="images/eye.svg", alt="SIDERAL STUDIO")