<!DOCTYPE html>
html(lang="es-MX")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(name="twitter:card", content="summary_large_image")
    meta(property="og:title", content="Sideral Studio")
    meta(property="og:url", content="https://sideral.mx/")
    meta(property="og:type", content="website")
    meta(property="og:image", content="https://sideral.mx/share.jpg")
    meta(property="og:description", content="Somos una agencia de Branding Estratégico y Diseño en CDMX.")
    meta(name="description", content="Somos una agencia de Branding Estratégico y Diseño en CDMX.")

    title Sideral Studio

    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto&display=swap")
    link(rel="stylesheet", href="scss/index.scss")
  body.body
    include svg-icons
    
    div.body__inner
      include header

      div.body__container
        main.main
          block content
        
        include nav

      include footer

    script(src="js/index.js")