nav.nav
  ul.nav__list.u-list-nostyle
    li.nav__item
      a(href="#")
        img.nav__icon(src="images/menu/about.svg", alt="SIDERAL STUDIO")
        span.nav__label About
    li.nav__item
      a(href="#")
        img.nav__icon(src="images/menu/work.svg", alt="SIDERAL STUDIO")
        span.nav__label Work
    li.nav__item
      a(href="#")
        img.nav__icon(src="images/menu/contact.svg", alt="SIDERAL STUDIO")
        span.nav__label Contact
    li.nav__item.tel
      a(href="tel:+5215580068973")
        img.nav__icon(src="images/menu/phone.svg", alt="SIDERAL STUDIO")
        span.nav__label +52 1 55 8006 8973
  div.nav__figure
    img(src="images/face-dolar.svg", alt="SIDERAL STUDIO")