//- Home
extends pug/layout/layout

block content
  div.wrapper.about(data-module-scope="about")
    div.wrapper__inner
      section.view.view1
        div.view__inner
          header.view1__head
            div.view1__head-title
              p Creamos marcas valientes, 
              p retadoras, que nos ayuden a evolucionar y 
              p sepan conectar con la audiencia...
            figure.view1__head-fig
              img(src="images/smile.svg", alt="SIDERAL STUDIO")
          div.view1__body
            figure.arrowsdown
              img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
              img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
              img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
            div.view1__body-copy
              p Hacemos que nuestras marcas tengan un propósito,
              p sean más humanas, ágiles y honestas para que aporten
              p cada vez más conciencia¨

      section.view.view2
        div.view__inner
          header.view2__head
            div.view2__head-title
              p Nuestro Proceso
              figure
                img(src="images/arrow-right-big.svg", alt="SIDERAL STUDIO")
              div.startitle.view2__star-title
                p Creativo.
                figure
                  img(src="images/star-border.svg", alt="SIDERAL STUDIO")
          div.view2__body
            div.stepcols
              div.stepcols__item
                header.stepcols__head
                  h2.stepcols__title
                    sup 01
                    span Conocer
                  div.stepcols__body
                    p Necesidades del usuario
                    p Objetivos de producto
                    p Alcances del proyecto
              div.stepcols__item
                header.stepcols__head
                  h2.stepcols__title
                    sup 02
                    span Investigar
                  div.stepcols__body
                    p Mercado
                    p Competidores
                    p Público objetivo
                    p Especificaciones funcionales
                    p Requerimiento de contenido
              div.stepcols__item
                header.stepcols__head
                  h2.stepcols__title
                    sup 03
                    span Proyectar
                  div.stepcols__body
                    p Nuestro objetivo final con cada proyecto es elevar nuestro nivel de diseño basado en soluciones reales para satisfacer las necesidades de su negocio.
            div.view2__copy
              div.view2__copy-content
                figure.view2__copy-subject
                  img(src="images/astronaut.svg", alt="SIDERAL STUDIO")
                div.view2__copy-text
                  p Nuestro pensamiento creativo se
                  p inspira en nuevas ideas que potencien un cambio.
              figure.arrowsdown
                img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
                img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
                img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")

      section.view.view3
        div.view3__body
          div.stepfor
            header.stepfor__head
              div.stepfor__headline
                h2.stepfor__title
                  sup 04
                  span Estrategia Creativa
                div.stepfor__subhead
                  div.stepfor__subhead-text
                    p Implementación de
                    p idea creativa
                  figure.stepfor__subhead-fig
                    img(src="images/arrow-right-big.svg", alt="SIDERAL STUDIO")
              figure.stepfor__head-fig
                img(src="images/ovni.svg", alt="SIDERAL STUDIO")
            div.stepfor__body
              div.stepfor__body-text
                p Para tener éxito, cada proyecto debe ser estéticamente atractivo, funcional, robusto, distintivo y memorable. Para garantizar esto siempre nos mantenemos en contacto con el cliente y abordamos cada proyecto de manera integral.
              figure.stepfor__body-fig
                img(src="images/alien.svg", alt="SIDERAL STUDIO")
          div.stepfive
            div.stepfive__inner
              header.stepfive__head
                div.stepfive__headline
                  h2.stepfive__title
                    sup 05
                    span Etapa de creación
                  div.stepfive__subhead
                    p Nos mantenemos en comunicación con el socio/cliente
                    p durante todo este proceso
                figure.stepfive__head-fig
                  img(src="images/arrow-down-break.svg", alt="SIDERAL STUDIO")
              div.stepfive__body
                div.startitle.stepfive__startitle
                  p Entrega.
                  figure
                    img(src="images/star-border.svg", alt="SIDERAL STUDIO")