//- Home
extends pug/layout/layout

block content
  div.wrapper.about(data-module-scope="about")
    div.wrapper__inner
      div.view.view1
        header.view1__head
          div.view1__head-title
            p Creamos marcas valientes, 
            p retadoras, que nos ayuden a evolucionar y 
            p sepan conectar con la audiencia...
          figure.view1__head-fig
            img(src="images/smile.svg", alt="SIDERAL STUDIO")
        div.view1__body
            figure.arrowsdown
            img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
            img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
            img(src="images/arrow-down-small.svg", alt="SIDERAL STUDIO")
          div.view1__body-copy
            p Hacemos que nuestras marcas tengan un propósito,
            p sean más humanas, ágiles y honestas para que aporten
            p cada vez más conciencia¨
