//- Home
extends pug/layout/layout

block content
  div.wrapper.home(data-module-scope="home")
    div.wrapper__inner
      div.intro
        p.intro__copy
          | Somos una agencia de 
          a.link(href="#") Branding Estratégico
          |  y 
          a.link(href="#") Diseño 
          |  en CDMX.
        p.intro__copy
          | Ayudamos a las marcas creando un 
          a.link(href="#") Naming
          |  potencial que con 
          a.link(href="#") Etrategias Creativas,
          |  conecte positivamente con su audiencia a través de la 
          a.link(href="#") Ilustración
          |  y/o 
          a.link(href="#") Packaging
          |  con una ingeniosa y original 
          a.link(href="#") Dirección de Arte.
