//- Home
extends pug/layout/layout

block content
  div.wrapper.home(data-module-scope="home")
    div.intro
      p.intro__copy
        | Somos una agencia de 
        a(href="#") Branding Estratégico
        |  y 
        a(href="#") Diseño 
        |  en CDMX.
      p.intro__copy
        | Ayudamos a las marcas creando un 
        a(href="#") Naming
        |  potencial que con 
        a(href="#") Etrategias Creativas,
        |  conecte positivamente con su audiencia a través de la 
        a(href="#") Ilustración
        |  y/o 
        a(href="#") Packaging
        |  con una ingeniosa y original 
        a(href="#") Dirección de Arte.
