//- Work
extends pug/layout/layout

block content
  div.wrapper.work(data-module-scope="work")
    div.wrapper__inner

      div.portfolio
        div.portfolio__view
          ul.portfolio__list.u-list-nostyle

        div.portfolio__fakescroll
          div.portfolio__fakescroll-area
          div.portfolio__fakescroll-area
          div.portfolio__fakescroll-area
          div.portfolio__fakescroll-area
          div.portfolio__fakescroll-area
          div.portfolio__fakescroll-area